<div class="hidden message-options">
  <% if msg.user_id == current_user.id %>
    <%= link_to "Delete", delete_message_path(message_slug: msg.slug), method: :delete, data: { confirm: "Are you sure you would like to delete this?" }, class: 'mx-1 text-gray-600 text-xs underline', remote: true %>
  <% end %>
  <span class="mx-1 text-gray-600 text-xs underline">Report</span>
</div>
